<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.syro.testbluetooth10"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/jeckson"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.syro.testbluetooth10.Activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.syro.testbluetooth10.Activity.ChatActivity">
        </activity>
        <activity android:name=".Activity.UnpairDvcActivity">
        </activity>
    </application>

</manifest>
